<% include ../inc/header %>
<div class="particles">
  <div id="particles-js">
  </div>
  <div class="container">
    <form class="" action="/resetpwd?username=<%= query.username %>&tocken=<%= query.tocken %>" method="post">
      <div class="form-group">
        <label>Enter New Password</label>
        <input type="text" name="password" class="form-control" value="" placeholder="Password">
      </div>
      <!-- <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" name="confpassword" class="form-control" value="" placeholder="Password">
    </div> -->
    <button name="button" class="btn btn-success">Set Password</button>
  </form>
</div>
</div>
<script src="/lib/js/particles.js"></script>
<script>
particlesJS.load('particles-js', '/particles.json');
</script>
<% include ../inc/footer %>
