<% include ../inc/header %>
<% include ../inc/sider.ejs %>
<div class="particles">
  <div id="particles-js">
  </div>
  <div class="container">
    <form class="" action="/resetpwd/send" method="post">
      <div class="panel panel-success resetpass  animated fadeIn">
        <div class="panel-heading">
          <h4><i class="fa fa-repeat" aria-hidden="true"></i> Reset your password</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <div class="list-group-item">
              <div class="form-group">
                <label>Enter Your Username or Email ID</label>
                <input type="text" name="username" value="" class="form-control" placeholder="Username">
              </div>
              <% if (ref) { %>
                <input type="hidden" name="ref" value="<%- ref %>">
                <% } %>
                <label for="Captha">Human Verification:</label>
                <div class="g-recaptcha" data-sitekey="<%= config.recaptcha.siteKey %>"></div>
                <hr>
                <button name="button" class="btn btn-success">Send Reset link</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
<script src="/lib/js/particles.js"></script>
<script>
particlesJS.load('particles-js', '/particles.json');
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<% include ../inc/footer %>
