<% include ../inc/usercpHead %>
<% include ../inc/profilesider %>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Edit Your Profile</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <form class="" action="/profile/edit?_method=put" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" required>Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="<%= user.name %>" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" required>Phone:</label>
                    <div class="col-sm-10">
                        <input type="text" name="phone" value="<%= user.meta.phone %>" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">BTC Address:</label>
                    <div class="col-sm-10">
                        <input type="text" name="tkc" value="<%= user.tkc %>" class="form-control" required>
                        <small>*ZebPay Wallet Recommended.</small>
                    </div>
                </div>
        </div>
        <button name="button" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
<% include ../inc/footer %>
