<% include ../inc/header %>
<div class="container">
  <h1>Client area</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../inc/usercpsider.ejs %>
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Submit a new support tecket</h4>
        </div>
        <div class="panel-body">
          <form action="/clientarea/tickets" method="post">
            <div class="form-group">
              <label for=""><strong>Subject:</strong> (Required)</label>
              <input type="text" placeholder="Subject" name="subject" class="form-control">
            </div>
            <hr>
            <div class="form-group">
              <label for=""><strong>Message:</strong>  (Required)</label>
              <textarea name="msg" id="" cols="30" rows="10" class="form-control" placeholder="message"></textarea>
            </div>

            <button class="btn btn-info">Submit Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../inc/footer %>
