    <div class="panel">
    <div class="panel-body">
      <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="/clientarea/hostings">
            <li class="list-group-item">
              Hostings
              <span class="badge badge-default badge-pill"><%= services.length %></span>
            </li>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
