<% include ../inc/header %>
<div class="container">
  <h1>Client area</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../inc/usercpsider.ejs %>
    </div>
    <div class="col-md-8">
      <div class="list-group">
        <div class="list-group-item active">
          <h2>Recharge Your Account</h2>
        </div>
        <div class="list-group-item">
          <h3>How to recharge Your AtoZServer Account?</h3>
          We are currently only support payments via PayTM only. So to Recharge your Account all you need to send the ammount you want to recharge to our paytm Number.
          <strong>9093769664</strong> and Dont forgot to enter your username in discription field.
          Your Account'll be recharged within 4hr!
        </div>
      </div>
    </div>
    </div>
  </div>
<% include ../inc/footer %>
