<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> <i class="fa fa-globe" aria-hidden="true"></i> Tkc4You.com</div>
        <p>TKC4YOU is a unique business opportunity. This  Is a group
           of dedicated and successful professionals engaged in Traditional Business.
          The TKC4YOU Company’s main focus is to offer every Indian citizen who Growth Our Cryptocurrency
           invest genuine efforts to achieve what they aspire and deserve,
          through best opportunity in a multilevel marketing business.</p>
        <p><i class="fa fa-map-pin"></i>Uttar Pradesh,Moradabad</p>
        <p><i class="fa fa-clock-o"></i> Office Hour : Monday - Saturday - 9am to 6pm </p>
        <p><i class="fa fa-phone"></i> Phone (India) : <%= "+91-8218-7000-83" %></p>
        <p><i class="fa fa-phone"></i> Token Request (India) : <%= "+91-9897-6123-95" %></p>
        <p><i class="fa fa-envelope"></i> E-mail : almaanqureshi1996@gmail.com</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="/privacy/"> Privacy Policy</a></li>
          <li><a href="/tos/"> Terms of Service</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Partner Sites</h6>
        <div class="post">
          <p><a href="https://Example.ext">Example.ext</a> <span>Lorem ipsam</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Social Sites</h6>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer start from here-->

  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights Reaurved</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_ul">
          <li><a href="https://tkc4you.com">tkc4you.com</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Faq's</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div id="credits">
    Made With <i class="fa fa-heart" aria-hidden="true"></i> By <a href="http://bubundas17.me">Bubun</a>
  </div> -->
</footer>

<%# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>%>
<script type="text/javascript" src="\lib\js\bootstrap.min.js"> </script>
<%# <script type="text/javascript" src="\lib\js\mdb.min.js"> </script>%>
</body>
</html>
