<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password Reset - Tkc4You</title>
  </head>
  <body>
    <p>Nice to seeing you again!</p>
    <p>Security Info!</p>
    <p>The password of your Tkc4you.com account has been changed!</p>
    <p>If You sre not who changed the password please Contact support by simply sending a email to admin@tkc4you.com. </p>
    <br>
  </body>
</html>
