<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Password Reset - Tkc4you.com</title>
  </head>
  <body>
    <p>Nice to seeing you again!</p>
    <p>We recived a password reset request for your Account.</p>
    <p>Simply click the link bellow to reset your password.</p>
    <a href="https://tkc4you.com.com/resetpwd?username=<%= user.username + '&tocken=' + hash %>">
      https://tkc4you.com.com/resetpwd?username=<%= user.username + '&tocken=' +hash %>
     </a>
    <br>
    <br>
    <b>If you are not requested the password reset link, Please Totally Ignore This Messae or Please Contact Support. admin@atozserver.com Thank You.</b>
  </body>
</html>
