<%- include inc/header %>
<%- include inc/sider %>
<div id="landing-top">
    <h1>Mission Billionaire</h1>
    <h3>Our Unique Mission To Become Billionaire</h3>
    <hr>
    <button class="btn btn-success btn-lg">Follow Along!</button>
</div>


<%- include inc/footer %>
