<% include ../inc/header %>
<div class="container">
  <div class="card">
    <div class="card-block">
      <h1>All services provided by ATOZSERVER.COM may be used for lawful purposes only!</h1>
      <p>Transmission, storage or presentation of any information, data or material in violation of any Canadian federal, province or city law is prohibited. This includes, but is not limited to: copyrighted material, material we judge to be threatening or obscene, or material protected by trade secret and other statute. The subscriber agrees to indemnify and hold harmless ATOZSERVER Network from any claims resulting from the use of service which damages the subscriber or any other party.</p><p>Prohibited are sites that promote any illegal activity or present content that may be damaging to ATOZSERVER Network servers, or any other server on the Internet. Links to such materials are also prohibited.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h2>Examples of unacceptable content or links:</h2>
      <p>Pirated software hacker programs or archives Warez sites "NOTICE: IF YOUR ACCOUNT IS FOUND TO CONTAIN ILLEGAL ACTIVITY, ILLEGAL MP3 FILES, PIRATED SOFTWARE, HACKER PROGRAMS, WAREZ PROGRAMS, OR ANY OTHER ILLEGAL FILES, YOUR ACCOUNT WILL BE TERMINATED IMMEDIATELY, WITHOUT NOTICE, AND A ₹3224.91 CANCELLATION FEE WILL APPLY. ADDITIONALLY, HOSTRJ WILL NOTIFY THE PROPER AUTHORITIES OF YOUR ACTIONS. FURTHER MORE, NO REFUND WILL BE MADE FOR PRE-PAID TERMS IF AFTER A CANCELLATION MADE IN RESULT OF NON-ADHERENCE TO THESE TERMS."</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h2>Traffic Usage</h2>
      <p>All account plans come with a predetermined amount of traffic allowance.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h2>Server Abuse</h2>
      <p>Any attempt to undermine or cause harm to a server or customer of ATOZSERVER Network is strictly prohibited. As our customer you are responsible for all your accounts. Should you violate the Terms of Services outlined within, your account will be cancelled without chance of refund.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h2>Refusal of Service</h2>
      <p>We reserve the right to refuse, cancel or suspend service, at our sole discretion. All sub-networks, distributive hosting sites and dedicated servers of  ATOZSERVER Network must adhere to the above policies, with the exception of system resources in respect to dedicated servers.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h2>Billing</h2>
      <p>By the Account Activation Date of each month,  ATOZSERVER shall either:
        (1) debit the client’s credit card (when such information has been provided by the client); or
        (2) deliver, by e-mail or regular mail, an invoice in accordance with the applicable Service Fees for services rendered for the current month. Invoices are generated 14 days prior to the Account Activation Date, and payment shall be remitted to  ATOZSERVER Network by no later than the specified payment due date.  ATOZSERVER Network shall be entitled to immediately terminate this agreement for client’s failure to make timely payments. Credit cards can billed automatically unless a direct request is made to our Billing team via the Billing Panel not to do so, at least 48hours prior to the payment due date. It is the client’s responsibility to ensure that they have sufficient credit to cover this transaction. In the event that there is insufficient credit, we will send an e-mail notification, at which point another payment method must be provided within 24 hours. If we do not receive a response within 24 hours, the account, and all accounts under that account plan, can be suspended.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Service Fees</h2>
        <p>Certain services carry a setup fee charged by  ATOZSERVER Network to client, which must be paid by client in order to have use of said services. If client terminates this agreement, client shall be responsible for any and all outstanding fees owed to  ATOZSERVER Network and agrees to pay any and all fees incurred by client. Because the services are provided on a monthly basis, the client will be responsible for service fees incurred each month, regardless of when client provides notice of termination. Thus, for example, if the client provides notice of termination on the 15th day of a particular month, the client will be responsible for service fees for the entire month, and such fees will not be pro-rated or refunded.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Money back guarantee & refund policy</h2>
        <p>We offer a 30 day Money back policy for undelivered servers. This does not apply to purchases made with a discount of 25% or more. These purchases are final, and non refundable. Refunds: If client has retained the services for longer than one month and has pre-paid  ATOZSERVER Network for such services, refunds will not be issued for any unused portion of the lease, as your purchase benefits from a long-term rebate. Therefore, if a client’s account is cancelled at any point during a 3month, 6month or one-year term, the client will not be entitled to a refund for the months remaining</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Trial periods</h2>
        <p>We do not offer trial periods of any kind for dedicated servers. Abusing our 30 day refund policy in order to test our services then get a refund is not acceptable, and no refunds will be made without proper justification, or failure on  ATOZSERVER Network behalf to provide the services purchased.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>General Refund guidelines</h2>
        <p>We will not refund or credit under the following circumstances:</p><p>-Geo-location or mistake in location</p><p>-Failing to ask a question on the nature of our services, or a particular spec or configuration.</p><p>-Account termination or suspension due to non-following of our Terms of Service.</p><p>-Account termination or suspension due to any kind of illegal activity.</p><p>-Changing your mind!</p><p>We reserve the final decision on refunds, based on the situation and reason for cancellation. The general rule is, if there is an issue on your server, our staff will dedicate themselves to fixing it. Any delays that prevent you from using your server will be credited, and issues that we are simply unable to solve will be refunded. It is important to note that refund requests based on information that was included in the terms of service or clearly available on our website will always be refused. The best example of this is if you have purchased a server that is geo-located and needed a server that is physically available. Please issue a request to our support staff before making such a purchase, if you are unsure.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Account Deactivations</h2>
        <p>Any account deactivated due to non-payment will require a reactivation fee of ₹1289.97 prior to reactivation.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Cancellation Refunds</h2>
        <p>We DORefusal of Service NOT refund partial monthly fees to accounts. We require a 15 days notice for a cancellation.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Refusal of Service</h2>
        <p>We reserve the right to refuse, cancel or suspend service, at our sole discretion.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Limitation of Liability</h2>
        <p>ATOZSERVER shall not be responsible for any claimed damages, including incidental and consequential damages, which may arise from HOSTRJ Network servers going off-line or being unavailable for any reason whatsoever. Furthermore, HOSTRJ Network shall not be responsible for any claimed damages, including incidental or consequential damages, resulting from the corruption or deletion of any web site from one of HOSTRJ Network servers. All damages shall be limited to the immediate termination of service.</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <h2>Violations</h2>
        <p>Violations of these Acceptable Use Policies should be referred to support@atozserver.com. All complaints will be investigated promptly. Failure to follow any term or condition will be grounds for immediate account deactivation.</p>
      </div>
    </div>
</div>
  <% include ../inc/footer %>
