<% include ../../inc/header %>
<div class="container">
  <h1>Client area</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../../inc/admincpsider.ejs %>
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Configure</h4>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              Configure Exchenge rates
            </div>
            <div class="panel-body">
              <label for="Tocken Generation.">1INR = </label>
              <form action="" method="post" class="form-inline">
                <input type="text" name="rates" value="<%= info.tkcRates %>" class="form Group" value="1">
                <small>TKC</small>
                <input type="submit" value="Save!" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../../inc/footer %>
