<% include ../../inc/usercpHead %>
<% include ../../inc/admincpsider %>
<div class="box box-primary">
    <div class="panel-heading">
        <h4>Active User</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <form class="form-inline" action="/admin/users/<%= user._id %>/active" method="POST">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="selectStat">Choose Status</label>
                            <select name="status" id="selectStat" class="form-control">
                                <option value="<%= user.isActive ? "active" : "notactive" %>"> <%= user.isActive ? "ACTIVE": "Not Active" %></option>
                                <option value="">.........................</option>
                                <option value="active">Active</option>
                                <option value="notactive">Not Active</option>
                            </select>
                        </div>
                        <br>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="refcredit" value="ok" checked> Give Referral Income
                            </label>
                            <small>Check this option if you want to give referral income.</small>
                        </div>
                    </div>
                    <hr>
                    <button name="button" class="btn btn-success">Save</button>
                    <a href="/admin/users/active" class="btn btn-info">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../../inc/footer %>
