<% include ../../inc/header %>
<div class="container">
  <h1>Client area</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../../inc/admincpsider.ejs %>
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>generate Tokens</h4>
        </div>
        <div class="panel-body">
          <h3>Please Save this tokens in a safe place. Anyone with this token(s) will de able to open a new account.</h3>
          <div class="panel panel-default">
            <div class="panel-heading">
              Generated Tokens.
            </div>
            <div class="panel-body">
              <div class="list-group">
                <h3>Generated Tokens:</h3>
                <% tokens.forEach( (token, i ) => { %>
                  <div class="list-group-item">
                    <strong><%= i+1 %>: </strong><%= token.toUpperCase() %>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../../inc/footer %>
